.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
  background: linear-gradient(35deg, #d1ec4a, #f986ff);
}

/* font credit - 117studio - Type Foundry and Graphic Design Studio
source - https://177studio.com/
non-comercial, personal use */
@font-face {
  font-family: "abnes";
  src: url("../../public/fonts/abnes.ttf");
}

body {
  z-index: 1;
  display: grid;
  height: 97vh;
  width: 97vw;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  justify-items: center;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titles {
  grid-row: 1;
  grid-column: 2;
  font-family: "abnes";
  letter-spacing: 0.1px;
  margin-bottom: 13em;
  font-size: 40px;
}

.button_container {
  z-index: 1;
  display: grid;
  grid-row: 3;
  grid-column: 2;
  align-items: stretch;
  justify-content: center;
  margin-top: 14em;
}

.merge_position {
  grid-row: 1;
  grid-column: 1;
}

.quick_position {grid-row: 1;
  grid-column: 2;}

.bubble_position {grid-row: 1;
  grid-column: 3;}

.heap_position {grid-row: 1;
  grid-column: 4;}

.new_array_position {grid-row: 1;
  margin: 20px;
  grid-column: 7;}

.sort_button {
  margin: 10px;
  margin-bottom: 50px;
  font-family: "abnes";
  padding: 10px;
  border-radius: 5%;
  color: #f2f8f4;
  letter-spacing: 5px;
  font-size: 14px;
  overflow: hidden;
  transition: 0.2s;
  background: linear-gradient(360deg, transparent, #ea11a1);
  box-shadow: 1px 1px rgb(0, 217, 255), 1px 0 0.4em rgb(255, 85, 0);
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px rgb(255, 0, 217), 0 0 92px rgb(255, 0 , 217), 0 0 102px rgb(255, 0 , 217), 0 0 151px #0fa;
}

.sorted {
  font-family: "abnes";
  font-size: 50px;
  letter-spacing: 10px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  position: absolute;
  border-radius: 2%;
  text-align: center;
  left: 50%px;
  top: 40%;
  background: linear-gradient(360deg, transparent, #67ccae);
  box-shadow: 1px 1px rgb(0, 217, 255), 1px 0 0.4em #0fa;
}


.sortedMessageDisable {
  display: none;
}

@media only screen and (min-width: 375px) and (max-width: 832px) {
  .cell {
    height: 40px;
    width: 40px;
  }

  .titles {
    margin-bottom: 35px;
    font-size: 25px;
  }
  .sort_button {
    letter-spacing: 5px;
    margin-top: 40px;
    font-size: 15px;
    font-family: "abnes";
    padding: 5px;
  }
}
